
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}
@keyframes fadeInL {
  0% {opacity: 0; transform: translate3d(-30px,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
.fadeInL {
  -webkit-animation-name: fadeInL;
  animation-name: fadeInL;
  animation-fill-mode: forwards;
}

.fadeInT {
  -webkit-animation-name: fadeInT;
  animation-name: fadeInT;
  animation-fill-mode: forwards;
}
@keyframes fadeInT {
  0% {opacity: 0; transform: translate3d(0,-20px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

.fadeInB {
  -webkit-animation-name: fadeInB;
  animation-name: fadeInB;
  animation-fill-mode: forwards;
}
@keyframes fadeInB {
  0% {opacity: 0; transform: translate3d(0,20px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
.start-1s {
    animation-delay:1s;
}
.start-2s {
    animation-delay:2s;
}
.start-3s {
    animation-delay:3s;
}
.start-4s {
    animation-delay:4s;
}
.start-5s {
    animation-delay:5s;
}
.start-6s {
    animation-delay:6s;
}
.start-7s {
    animation-delay:7s;
}
.start-8s {
    animation-delay:8s;
}
.time-1s {
  animation-duration:1s;
}
.time-2s {
  animation-duration:2s;
}
.time-3s {
  animation-duration:3s;
}
.time-4s {
  animation-duration:4s;
}
.time-5s {
  animation-duration:5s;
}
.time-6s {
  animation-duration:6s;
}
.time-7s {
  animation-duration:7s;
}
.time-8s {
  animation-duration:8s;
}
